<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Details of {{ client_details.client.first_name }} </h1>

    <ul>
        <li>First_name: {{ client_details.first_name }}</li>
        <li>Last_name: {{ client_details.last_name }}</li>
        <li>Email: {{ client_details.email }}</li>
        <li>Phone: {{ client_details.phone}}</li>

        {% for address in addresses %}
        <li>Street: {{ address.street }}</li>
        <li>Number: {{ address.number }}</li>
        <li>City: {{ address.city }}</li>
        <li>Zip: {{ address.zip }}</li>
        <li>country: {{ address.country }}</li>
        {% endfor %}
    </ul>

    <a href="/clients">Back...</a>

</body>
</html>